section.content#service
	.services-container
		.services-title
			h1 Our services
		.services-desc
			p Lorem ipsum dolor sit amet, consectetur ipsum dolor.
		.services-features
			.features.features-icons
				.features-icons-title Font-awesome icons
				.features-icons-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
			.features.features-design
				.features-design-title Working contact form
				.features-design-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
			.features.features-working
				.features-working-title Font-awesome icons
				.features-working-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
			.features.features-retina
				.features-retina-title Working contact form
				.features-retina-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
			.features.features-code
				.features-code-title Font-awesome icons
				.features-code-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
			.features.features-flat
				.features-flat-title Working contact form
				.features-flat-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, cumque.
	.about-container#about
		.about-left
			.about-left-pict
		.about-right
			.about-right-title About us
			.about-right-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laudantium sed asperiores animi culpa facilis, quae excepturi omnis eligendi incidunt ea tempore, modi accusantium ut sint, esse dicta atque at similique accusamus alias. Optio nulla laboriosam eum expedita temporibus! Dolor aspernatur perspiciatis officia exercitationem quae distinctio.
			a(href="#").about-right-btn Read more
	.prices-container#pricing
		.prices-title
			h1 Choose your price
		.prices-desc
			p Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.
		.plans-container
			.plan.basic
				.plan-title Basic plan
				.price
					span $
					span 22
				.period Per month
				ul.plan-features
					li 1 account
					li 8 hour support
					li custom cloud services
				input(type="button" value="get started").btn-start
			.plan.premium
				.plan-title Premium plan
				.price
					span $
					span 42
				.period Per month
				ul.plan-features
					li 2 account
					li 100mb storage
					li custom cloud services
				input(type="button" value="get started").btn-start
			.plan.gold
				.plan-title Gold plan
				.price
					span $
					span 62
				.period Per month
				ul.plan-features
					li 8 account
					li 24 hour support
					li custom cloud services
				input(type="button" value="get started").btn-start
	.works-container#work
		.works-title
			h1 How it work
		.works-desc
			p Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.
		.step-container
			.step-pict
				.pict-1
				.arrows-down
				.pict-2
				.arrows-up
				.pict-3
				.arrows-down
				.pict-4
			.step
				.step-title Step 1
				.step-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sed tempore, ipsam quibusdam id alias!
			.step
				.step-title Step 2
				.step-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sed tempore, ipsam quibusdam id alias!
			.step
				.step-title Step 3
				.step-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sed tempore, ipsam quibusdam id alias!
			.step.last
				.step-title Step 4
				.step-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sed tempore, ipsam quibusdam id alias!
		input(type="button" value="Get start now").get_start_now-btn
	.clients-container#clients
		.clients-title
			h1 Happy clients
		.clients-desc
			p Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.
		.testimonial-container
			.testimonial
				.testimonial-photo.photo-1
				.testimonial-coment Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dignissimos at numquam impedit fugiat, dolores minus iusto unde provident quo, aliquam voluptatem suscipit iste cumque dolore illo deserunt voluptatibus necessitatibus laudantium qui.
					.testimonial-sign
						span Darwin michle,
						span Project manager
			.testimonial
				.testimonial-photo.photo-2
				.testimonial-coment Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum, corporis iure pariatur, nemo distinctio architecto ea unde laborum impedit consequatur, nesciunt eaque enim. Tenetur voluptatem dolores maxime similique recusandae doloribus minima.
					.testimonial-sign
						span Madam elisabath,
						span Creative director
			.testimonial
				.testimonial-photo.photo-3
				.testimonial-coment Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, minus, quae delectus maiores tempora aspernatur similique quaerat dicta sequi neque laborum voluptatibus inventore nihil quas laboriosam veniam dignissimos eveniet saepe accusamus ullam.
					.testimonial-sign
						span Clips arter,
						span Lipsum director
			.testimonial
				.testimonial-photo.photo-4
				.testimonial-coment Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, aliquid? Labore at facere corporis illo beatae incidunt explicabo odit. Aspernatur, facere. Dolor ipsum sit praesentium tempore esse quisquam, a laboriosam assumenda! Perferendis!
					.testimonial-sign
						span Zam cristafr,
						span Manager
	.newsletter-container#contacts
		.newsletter-title
			h1 Newsletter
		.newsletter-desc
			p Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit amet.
		form(name="subscribe" method="post" action="").subscribe
				.subscribe-name
					+icon("user")
					input(type="text", name="name" placeholder="Name")
				.subscribe-email
					+icon("envelope")
					input(type="email", name="email" placeholder="Email Adress")
				.subscribe-quote
					input(type="submit", name="submit" value="Subscribe now")
		.map-container
			.map
			.circle
				ul.address
					li Address
					li Business street
					li Second north section
					li Bavani nagar. 88769
					li Call: +987-9976-999
					li info@businessface.com
			img(src="../static/img/content/logo.png" width="50" height="48" alt="logo").logo-bottom
		.menu-bottom
			include ../modules/menu
		.phone
			+icon('call')
			a(href="tel:+9879976999") +9879976999
		.social-icons
			+icon('twitter')
			+icon('facebook')
			+icon('google-plus')
			+icon('linkedin')
