ul.nav
	li
		a(href="#") Home
	li
		a(href="#service") Service
	li
		a(href="#about") About us
	li
		a(href="#pricing") Pricing table
	li
		a(href="#work") How it work
	li
		a(href="#clients") Happy clients
	li
		a(href="#contacts") Contacts us