.slider
	.slider-container
		.slider-laptop
			.slide.slide-1.showed
			.slide.slide-2
			.slide.slide-3
			.slide.slide-4
			+icon('arrow','left-arrow')
			+icon('arrow','right-arrow')
		.slider-point
			span.point.point-1.active
			span.point.point-2
			span.point.point-3
			span.point.point-4