.slider
	position: absolute;
	top 87%
	left 50%
	transform translate(-50%, -50%)

.slider-container
	width 100%
	max-width 648px
	margin 0 auto
	
.slider-laptop
	position relative
	margin-bottom 22px
	size(648px,344px)
	background url('../img/content/laptop.png') 0 0 no-repeat
	background-size cover
	
.slide
	position absolute
	top 5%
	left 16%
	size(445px,266px)
	opacity 0
	transition opacity 1s
	
.showed
	opacity 1
	
.slide-1
	background url('../img/content/slide-1.jpg') 0 0 no-repeat
	background-size cover
	
.slide-2
	background url('../img/content/slide-2.jpg') 0 0 no-repeat
	background-size cover
	
.slide-3
	background url('../img/content/slide-3.jpg') 0 0 no-repeat
	background-size cover
	
.slide-4
	background url('../img/content/slide-4.jpg') 0 0 no-repeat
	background-size cover

.icon-arrow
	position absolute
	size(8px,14px)
	fill #fff
	cursor pointer
	
.left-arrow
	top 41%
	left 7%
	transform scale(-1, 1)
	
.right-arrow
	top 41%
	left 92%
	
.slider-point
	width 88px
	margin 0 auto
	
.point
	display inline-block
	size(16px)
	margin-right 6px
	border 2px solid sliderPointColor
	border-radius 50%
	background-color #fff
	cursor pointer
	
	&.active
		border 2px solid activeSliderPointColor