@media screen and (max-width: 1185px)
	header
		.header-container
			padding 23px 10px
			
		ul.nav
			li
				margin-top 20px

@media screen and (max-width: 1141px)
	section.content
		padding-top 145px

	.services-features
		margin 0 auto
		
	.services-desc
		margin-bottom 45px

	.features-icons-desc,
	.features-design-desc,
	.features-working-desc,
	.features-retina-desc,
	.features-code-desc,
	.features-flat-desc
		margin 0 15px 30px

	.step
		margin-top 21px
		
	.testimonial
		margin 0 0 10px
		
	.testimonial:nth-child(odd)
		margin-bottom 10px
		
	.map-container
		margin-bottom 10px
		
@media screen and (max-width: 1013px)
	.subscribe
		input
			margin-bottom 10px

@media screen and (max-width: 1003px)
	.request
		input
			margin 0 0 10px
			
	.features
		padding-right 15px

	.banner-desc,
	.services-desc,
	.prices-desc,
	.works-desc,
	.clients-desc,
	.newsletter-desc
		margin 0 15px 36px
		
	.works-container,
	.clients-container,
	.newsletter-container
		padding 20px 0 20px

@media screen and (max-width: 922px)
	.step
		margin-right 10px

@media screen and (max-width: 675px)
	.arrows-down,
	.arrows-up
		display none
		
	.step-pict
		margin-bottom 0
		
	.works-desc
		margin-bottom 0

@media screen and (max-width: 620px)
	.features
		margin-left 15px
		
@media screen and (max-width: 580px)
	.clients-container
		padding 46px 0 46px

@media screen and (max-width: 530px)
	.prices-container
		padding 20px 0 20px
		
	.about-right
		padding 59px 100px 88px 46px
		
@media screen and (min-width: 506px)
	ul.sandwich-menu-link
		display none

	ul.nav
		display block

@media screen and (max-width: 505px)
	.sandwich-menu
		display block
	
	ul.nav
		display none
	
	ul.sandwich-menu-link
		display block
		width 100%
		background-color orangeColor
		z-index 3
		
		li
			display block
			margin 0
			padding 0
			border-bottom 1px solid #fff
			
			&:last-child
				border-bottom none
			a
				display block
				padding 12px 21px
				color #fff
				
				&:hover
					font-size rem(16)
					color #fff
					transition all .5s
	header
		ul.nav
			li
				margin-top 0
				
	.step-container
		margin-bottom 20px
		
	.slider
		display none
		
	.banner
		padding 54px 0 45px
		
	section.content
		padding-top 59px
		
	.menu-bottom
		.nav
			display block

@media screen and (max-width: 345px)
	.testimonial-sign>span
		display block
		
	.about-right
		padding 40px

@media screen and (max-width: 300px)
	.services-features
		margin 0 auto
		
	.features
		padding-left 69px
