// ЦВЕТА
blueColor = #709dca
orangeColor = #ffbb42
menuTextColor = #868686
iconDescTextColor = #a9a9a9
sliderPointColor = #dedfe0
activeSliderPointColor = #1ca8dd
headerColor = #394b50
headerDescColor = #7b7b7b
btnBorderColor = #e7ad48
pricesContColor = #e7edf3
planBorderColor = #ccd5df
planTextColor = #b5bbc1
planUnderliningColor = #e2e9f0
comentSignColor1 = #f78948
comentSignColor2 = #99a9ae
letterInputBorderColor = #cbcbcb
circleDescColor = #9ea9ac
mapBorderColor = #e3e7ec

// РАЗМЕРЫ


// ШРИФТЫ

gothamFont = "Gotham Black Regular"
mainFont = "OpenSans-Regular"
latoRegFont = "Lato-Regular"
latoLightFont = "Lato-Light"
latoBoldFont = "Lato-Bold"